{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-5 whiteForm" id="loginForm">
        <!-- flash msg -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>    
        {{ message }}
        </div>
        {% endfor %}

        <!-- Sign in form -->
        {{ wtf.quick_form(SignInForm)}}
        <hr>
        <div>New to Minute-Wise?  <a href="{{url_for('auth.signUp', _anchor='regForm')}}">Sign Up here</a> </div>
        </div>
    </div>

</div>

{% endblock %}