body{
    background-color: 	#202020;
}
.navStyle{
    font-family: 'Philosopher', sans-serif;
    
}

.navbar-expand-lg .navbar-brand {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

.jumbotron{
    background-color: #fbedbe;
    font-family: 'Tangerine', cursive;
    color: #333;
    margin-top: 3vh;
}


.card {
    background-color: #fbedbe;
    color: #333;
    font-family: 'Philosopher', sans-serif;
    font-size: 4vh;
}

.vote{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.vote img{
    height: 40px;
    width: 40px;

}