body{
    background-color: black;
}
.jumbotron, .navStyle{
    background-color: #fbedbe;
    font-family: 'Philosopher', sans-serif;
}

.card {
    background-color: #fbedbe;
    font-family: 'Tangerine', cursive;
    font-size: 15vh;
}