<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Minute Wise </title>


<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Comfortaa|Courgette|Katibeh|Philosopher|Tangerine|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/custom.css">

</head>
  <body>

    <div class="container">
      <div class="errorPage">
        <h1>
          <p> Sorry, we can't find that page.</p>
         <p> Please check your URL...</p>
         <p>Or <a href ="/">click here</a> to go back to <a href ="/">Minute-Wise Home.</a></p>
        </h1>
      </div>
    </div>

  </body>
</html>
