{% extends 'base.html'%}

<!-- pitches block  -->
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pitch Category </h4>
      <p class="card-text">For every minute you smile, you get a whole 60-seconds of happiness!</p>
      <p>Contributer Username</p>

      <!-- Like/Dislike Buttons -->
      <div class="vote">
        
        <!-- up-vote -->
       <a href="#"> <img src="{{url_for('static', filename='images/Like.png')}}" alt="Up-Vote"></a>
        
        <!-- down-vote -->
        <a href="#"><img src="{{url_for('static',filename='images/Dislike.png')}}" alt="Down-Vote"></a>
      
      </div>

    </div>
  </div>
</div>

{% endblock %}