<nav class="navbar navbar-light navStyle" style="background-color:#fbedbe;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Minute-Wise</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pitch Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Hot & Trending</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Pick-up Lines :)</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Life</a></li>
            </ul>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
          
        </ul>
      </div>
    </div>
  </nav>

<!-- Minute-Wise Motto -->
<div class="container">
  <div class="jumbotron text-center">
    <h2> Every Minute Counts </h2>
    <h4>so...</h4>
    <h2 class="display-1"> Be Minute-Wise!</h2>
  </div>
</div>