<nav class="navbar navbar-expand-lg navbar-light bg-dark navStyle">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">Minute-Wise</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Pitch Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Hot & Trending</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pick up lines :) </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Love & Life</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- Sign Up -->
      <li class="nav-item"><a class="nav-link" href="{{url_for('signUp', _anchor='regForm')}}"> Sign Up </a></li>

      <!-- Sign In -->
      <li class="nav-item"><a class="nav-link" href="{{url_for('signIn', _anchor='loginForm')}}"> Sign In </a></li>
    </ul>
  </div>
  </div>
</nav>

<!-- Minute-Wise Motto -->
<div class="container">
  <div class="jumbotron text-center">
    <h2>Every Minute Counts</h2>
    <h1>so...</h1>
    <p class="display-4">Be Minute -Wise!</p>
  </div>
</div>
