<nav class="navbar navbar-expand-lg navbar-light bg-dark navStyle">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">Minute-Wise</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Pitch Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Hot & Trending</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pick up lines :) </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Love & Life</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      {% if current_user.is_authenticated %}
      <li style="color:white;padding:15px"> {{ current_user.username }} </li>
      <li> <a href="{{url_for('main.profile',usrname=current_user.username)}}"> Profile </a> </li>
      <li><a href="{{url_for('auth.signOut')}}">Sign Out</a></li>
      {% else %}

      <!-- Share your pitch -->
      <li class="nav-item"><a class="nav-link" href="{{url_for('main.sharePitch', _anchor='shareForm')}}"> Share your Minute-Wise pitch! </a></li>

      <!-- Sign Up -->
      <li class="nav-item"><a class="nav-link" href="{{url_for('auth.signUp', _anchor='regForm')}}"> Sign Up </a></li>

      <!-- Sign In -->
      <li class="nav-item"><a class="nav-link" href="{{url_for('auth.signIn', _anchor='loginForm')}}"> Sign In </a></li>
      {% endif %}
    </ul>
  </div>
  </div>
</nav>

<!-- Minute-Wise Motto -->
<div class="container">
  <div class="jumbotron text-center">
    <h2>Every Minute Counts</h2>
    <h1>so...</h1>
    <p class="display-4">Be Minute -Wise!</p>
    <hr>
    <h2> <a href="{{url_for('main.sharePitch', _anchor='shareForm')}}" >Share your one-minute pitch</a></h2>
  </div>
</div>
