{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block
content %}
<div class="container">
  <!-- Hot & Trending Pitches -->
  <div class="row d-flex justify-content-center" id="hot">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">{{ oneCategory }}</h3>
          <hr />

          <p class="card-text">
            {{ onePitch }}
          </p>

          <!-- Like/Dislike Buttons -->
          <div class="voteInPitches">
            <!-- up-vote -->
            <a href="#">
              <img
                src="{{url_for('static', filename='images/Like.png')}}"
                alt="Up-Vote"
            /></a>

            <!-- down-vote -->
            <a href="#"
              ><img
                src="{{url_for('static',filename='images/Dislike.png')}}"
                alt="Down-Vote"
            /></a>
          </div>
          <hr />
          <div>
            <!-- post comment -->
            {{ wtf.quick_form(CommentForm) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pick-up Lines -->
  <div class="row d-flex justify-content-center" id="pickUp">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Pick-Up Lines</h3>
          <hr />
          <p class="card-text">
            Would you grab my arm, so I can tell my friends I’ve been touched by
            an angel?
          </p>

          <!-- Like/Dislike Buttons -->
          <div class="voteInPitches">
            <!-- up-vote -->
            <a href="#">
              <img
                src="{{url_for('static', filename='images/Like.png')}}"
                alt="Up-Vote"
            /></a>

            <!-- down-vote -->
            <a href="#"
              ><img
                src="{{url_for('static',filename='images/Dislike.png')}}"
                alt="Down-Vote"
            /></a>
          </div>
          <hr />
          <div>
            <!-- post comment -->
            {{ wtf.quick_form(CommentForm) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Love & Life Pitches-->
  <div class="row d-flex justify-content-center" id="lnl">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Love & Life</h3>
          <hr />
          <p class="card-text">
            Sometimes, it's a beautiful thing that the future comes one day at a
            time...never all-at-once.
          </p>

          <!-- Like/Dislike Buttons -->
          <div class="voteInPitches">
            <!-- up-vote -->
            <a href="#">
              <img
                src="{{url_for('static', filename='images/Like.png')}}"
                alt="Up-Vote"
            /></a>

            <!-- down-vote -->
            <a href="#"
              ><img
                src="{{url_for('static',filename='images/Dislike.png')}}"
                alt="Down-Vote"
            /></a>
          </div>
          <hr />
          <div>
            <!-- post comment -->
            {{ wtf.quick_form(CommentForm) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
